!examples/test_result_alu_only.json
!reports/all_runs.csv

# ───── Vivado scratch / cache ─────
vivado_tmp/
.Xil/
*.jou
*.backup.jou
*.log
*.backup.log
*.dcp
*.str                      # STR database

# ───── auto tcl ─────
constraints/auto_pblock.tcl
constraints/pipe_stages.tcl   

# ───── auto RTL ─────
rtl/len_table_pkg.sv

reports/
build.log
utilization_*.rpt
hd_visual/

examples/alu_only.json
examples/blocks/
examples/result_*.json
examples/result_*.csv
examples/*_result_*.json
examples/*_result_*.csv
examples/selected_blocks.json

__pycache__/
*.pyc
